body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #076585;  
    background: linear-gradient(to bottom, #fff, #b7e8f8); 
   
}
.encabezado {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff;
    color: white;
    padding: 2px;
}
.btnEncabezado {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contenedor {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #6fb7cf; 
  border-radius: 5px;
  box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 60px #fff; 
  opacity: 0.9; 
}

form {
    text-align: center;
    
  }

.labelF{
    font-family: fantasy;
    font-size: 16px; 
    color: #333; 
    margin-bottom: 5px;
    display: inline-block;
    width: 25%; 
    text-align: right; 
    margin-right: 10px;
    vertical-align: top;
    }
    
.labelF.required {
    color: #c0392b; 
    }
    
.labelF.optional {
    color: #27ae60; /
    }
    
    
.labelF:hover {
    text-decoration: underline; 
    cursor: pointer; 
    }
    
input[type="text"] {
    width: 200px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top; 
    }
    
input[type="date"] {
	
      width: 200px;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
    }

@media (min-width: 768px) {
    .btnEncabezado {
      min-width: 120px;
      padding: 0 25px;
    }
  }
  

.card-logo {
    width: 80px;
    margin: 0 2px;
    display: inline-block; 
}
  :root {

    --pale-purple-pantone: hsl(262, 63%, 92%);
    --medium-sea-green: hsl(152, 63%, 43%);
    --lavender-blush: hsl(336, 35%, 92%);
    --carolina-blue: hsl(204, 91%, 53%);
    --columbia-blue: hsl(204, 92%, 90%);
    --alice-blue-1: hsl(216, 38%, 95%);
    --alice-blue-2: hsl(216, 75%, 97%);
    --alice-blue-3: hsl(216, 38%, 95%);
    --alice-blue-4: hsl(217, 33%, 92%);
    --independence: hsl(219, 21%, 39%);
    --deep-cerise: hsl(329, 63%, 52%);
    --eerie-black: hsl(210, 11%, 15%);
    --space-cadet: hsl(240, 22%, 25%);
    --blue-jeans: hsl(204, 80%, 63%);
    --slate-blue: hsl(262, 60%, 57%);
    --beau-blue: hsl(208, 86%, 92%);
    --honey-dew: hsl(152, 48%, 89%);
    --mimi-pink: hsl(329, 63%, 90%);
    --red-salsa: hsl(0, 79%, 63%);
    --sapphire: hsl(211, 100%, 35%);
    --manatee: hsl(219, 14%, 60%);
    --white: hsl(0, 0%, 100%);
  
    --gradient: linear-gradient(to top, var(--alice-blue-2), var(--alice-blue-3));

    --ff-nunito: 'Nunito', sans-serif;
    --ff-open-sans: 'Open Sans', sans-serif;
  
    --fs-1: 2.125rem;
    --fs-2: 1.875rem;
    --fs-3: 1.5rem;
    --fs-4: 1.375rem;
    --fs-5: 1.125rem;
    --fs-6: 0.875rem;
    --fs-7: 0.625rem;
  
    --fw-400: 400;
    --fw-600: 600;
  
    --transition: 0.5s ease;
  
    --section-padding: 50px;
  
    --radius-10: 10px;
    --radius-14: 14px;
    --radius-18: 18px;
    --shadow-1: 3px 3px 9px hsla(240, 14%, 69%, 0.2);
    --shadow-2: 3px 3px 9px hsla(204, 92%, 59%, 0.3);
  
  }
  
  
  *, *::before, *::after {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  label,
  ion-icon { display: block; }
  
  button,
  input {
    background: none;
    border: none;
    font: inherit;
  }
  
  button { cursor: pointer; }
  
  input { width: 100%; }
  
  ion-icon { pointer-events: none; }
  
 
  .container { padding-inline: 15px; }
  
  .btn {
    position: relative;
    background: var(--background, var(--carolina-blue));
    color: var(--color, var(--white));
    min-width: var(--width, 40px);
    min-height: var(--height, 40px);
    padding: 5px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-14);
    font-family: var(--ff-nunito);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    overflow: hidden;
  }
  
  .btn ion-icon {
    font-size: 22px;
    --ionicon-stroke-width: 40px;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.4), transparent);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition);
  }
  
  .btn:is(:hover, :focus) { box-shadow: var(--shadow-2); }
  
  .btn:is(:hover, :focus)::before { opacity: 1; }
  
  .section { padding-block: var(--section-padding); }
  
  
  .h1,
  .h2,
  .h3 {
    color: var(--space-cadet);
    font-family: var(--ff-nunito);
    line-height: 1.4;
  }
  
  .h1 {
    font-size: var(--fs-1);
    text-transform: uppercase;
  }
  
  .h2,
  .h3 { font-weight: var(--fw-400); }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 { font-size: var(--fs-4); }

  @media (min-width: 580px) {

    .container {
      max-width: 540px;
      margin-inline: auto;
    }

  @media (min-width: 768px) {
  
    :root {

      --fs-1: 2.625rem;
  
    }
   }
  
    .container { max-width: 720px; }

    .featured-car-list { grid-template-columns: repeat(2, minmax(0, 1fr)); }

    .get-start-list { grid-template-columns: 1fr 1fr; }

  @media (min-width: 992px) {

    .container { max-width: 960px; }

  @media (min-width: 1200px) {

    :root {
  
      --fs-1: 2.875rem;
      --fs-2: 2rem;
  
    }
  

    .container { max-width: 1170px; }
  


}
 }
 }
 
 